<div class="services container-fluid bg-light">
    <div class="header mb-2">
        <h1>Our Services...</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!-- One -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/GSTGeneration.webp" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">GST Registration Under GST ACT, 2017</h5>
                <p class="card-text">Registration of any business entity under the GST Law implies obtaining a unique number from the concerned tax authorities for the purpose of collecting tax on behalf of the government and to avail Input tax credit for the taxes on his inward supplies.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> for registration.</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Two -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/GST-Return.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">GST Return Filing</h5>
                <p class="card-text">A GST return is a document containing details of all income/sales and/or expenses/purchases that a GST-registered taxpayer (every GSTIN) is required to file with the tax administrative authorities. This is used by tax authorities to calculate net tax liability.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> for more.</p>
                <a [routerLink]="['/ourservices/gst']" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Three -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/EInvoice.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">E-Invoice Generation</h5>
                <p class="card-text">E-Invoice is a system in which B2B invoices are authenticated electronically by GSTN for further use on the common GST portal. Under the electronic invoicing system, an id number will be issued against every invoice by the Invoice Registration Portal (IRP) to be managed by the GST Network (GSTN).<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> for generate.</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Four -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/payroll_management.webp" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Payroll ESI & PF Filing</h5>
                <p class="card-text">10 - 20 or more people are employed. Here we are Filing ESI & PF for your Payrolls on Time!<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> for filing!</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Five -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/income-tax-return.webp" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Income Tax Return Filing</h5>
                <p class="card-text">“Delayed Filing is Stressful” - Avoid Last Minute Rush and Avoid Paying Late Fee and Interest by enrolling.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> for filing!</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
            Six
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/BookKeeping.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Book Keeping</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div> -->
        <div class="col-lg-4">
            <!-- Seven -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/Maintaining-Books-of-Accounts.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Maintaining Books of Accounts</h5>
                <p class="card-text">“Accounting is the Language of Business” - Warren Buffett.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> and forget about the book maintaining stress.</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Eight -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/Partnership-Firm-Registration.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Partnership Firm Registraion</h5>
                <p class="card-text">“Great things in business are never done by one person, they are done by a team of people” - Steve Jobs.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> to Register your Partnership Firm and avoid legal problems with the government</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Nine -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/ProfessionalTax.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Professional Tax</h5>
                <p class="card-text">Professional Tax Registration is mandatory within 30 days of employing staff in a business or in the case of professionals from the start of the practice.<br/><br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> to get it done!</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Ten -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/LWF.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Labour Welfare Fund Registration</h5>
                <p class="card-text">LWF is a statutory contribution managed by every state authority. It helps labourers improve their working conditions, providing social security and raises their standard of living.<br/><br/>Get it done by hitting <span>Enroll <i class="bi bi-arrow-down"></i></span></p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Eleven -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/SAER.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Shop and Establishment Registration</h5>
                <p class="card-text">When you have a dream, you've got to grab it and never let go and that's <span>Entrepreneurship.</span><br/><br/><br/>Establish it by hitting <span>Enroll <i class="bi bi-arrow-down"></i></span></p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div> 
        </div>
        <div class="col-lg-4">
             <!-- Twelve -->
            <div class="card mb-3 p-2" style="width: 23rem; height:auto">
                <img src="../../../assets/Images/TDSF.webp" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">TDS Filing</h5>
                <p class="card-text">A person (deductor) who is liable to make payment of specified nature to any other person (deductee) shall deduct tax at source and remit the same into the account of the Central Government.<br/><br/>Hit <span>Enroll <i class="bi bi-arrow-down"></i></span> to avail the service.</p>
                <a href="https://forms.gle/bqbiLuzydV9V3srW6" class="btn btn-primary" target="_blank">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $('.col-lg-4').hover(
            //trigger when mouse hover
            function(){
                $(this).animate({
                    marginTop: "-=1%",
                },200);
            },

            //trigger when mouse out
            function(){
                $(this).animate({
                    marginTop: "0%",
                },200);
            }
        )
    })
</script>
