.navbar-expand-lg .navbar-nav .nav-link.active-link
{
    color: var(--primary-color);
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link
{
    color: var(--secondary-color);
}
a.navbar-brand
{
    color: green;
    font-style:oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.navbar img
{
    border-radius: 5mm;
    height: 110px;
}
.navbar
{
    background-color:white;
}
