<div class="contact">
    <div class="title">
        <h1>Contact us...</h1>
    </div>
    <div class="info">
        <h2>Notorious Accounting Firm</h2>
        <p><span>Address:</span><br/>Door No. 3/20, Kavingar Kannadasan Nagar 4th Street,<br/>
            Ramapuram, Chennai - 600 089.<br/><br/>
            <span><i class="bi bi-telephone-fill"></i> or <i class="bi bi-whatsapp"></i> -  </span>(+91) 99419 52479<br/><br/>
            <span>Email ID: </span>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">notoriousfirmlive2021@gmail.com</a>
        </p>    
    </div>
</div>
