<div class="about">
    <div class="title">
        <h1>About us...</h1>
    </div>
    <div class="info">
        <p>Welcome you all to the <span class="info1">Notorious Accounting Firm <span class="info2">(We're Responsible For Your Accounting!)</span></span> 
            The Most desirable place for all the accounting services, Business start-ups and Tax Compliances. 
            We handout an extensive scale of accounting, tax compliances, business start-ups consultancy and 
            advisory services to the individuals, partnership firms, corporate and for all the other entities.
        </p>
    </div>
    <div class="image mb-5">
        <img src="../../../assets/Images/AboutPic.png" alt="">
    </div>
    <div>
        <h4>Our Vision: </h4>
        <p>
            To Integrate all types of Business start-ups, Accounting and Tax Compliance Prevailing Services.
        </p>
        <h4>Our Mission: </h4>
        <p>
            To be most desired preferable for all the Accounting, Business start-ups and Tax Compliance Services. 
        </p>
    </div>
    <div>
        <h4>Services we offer:</h4>
        <ul>
            <li>GST Registration Under GST Act, 2017</li>
            <li>GST Return Filing</li>
            <li>E-Invoice Generation</li>
            <li>Payroll ESI & PF Registration and Return Filing</li>
            <li>Income Tax Return Filing</li>
            <li>Maintaining Books of Accounts</li>
            <li>Partnership Firm Registration</li>
            <li>Professional Tax Companies</li>
            <li>Labour Welfare Fund Registration</li>
            <li>Shop & Establishment Registration</li>
            <li>TDS Return Filing</li>
        </ul>
    </div>
    <table class="table container table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Our Slogans!</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>"Building A New World"</td>
          </tr>
          <tr>
            <td>"Value Your Business Today"</td>
          </tr>
          <tr>
            <td>"Here To Make Things Easy For You"</td>
          </tr>
          <tr>
            <td>"Playing With Numbers"</td>
          </tr>
          <tr>
            <td>"Caring Your Tracsactions"</td>
          </tr>
          <tr>
            <td>"No Compromise For Accuracy"</td>
          </tr>
          <tr>
            <td>"A New Business Of Posibilities"</td>
          </tr>
          <tr>
            <td>"Make A Right Decision"</td>
          </tr>
          <tr>
            <td>"Standard Work In Accounting"</td>
          </tr>
          <tr>
            <td>"Work For A Better Tomorrow"</td>
          </tr>
        </tbody>
    </table>  
</div>
