<div class="container">
    <div class="back btn mb-lg-2 m-lg-2" type="button" routerLink="../../ourservices"><i class="bi bi-box-arrow-in-left"></i> Back</div>
    <br/><br/>
</div>
<div class="accordion container-sm mb-5" id="accordionExample">
    <h1>We do provide the following services in GST....</h1>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            GSTR-1
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR1.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-1 is the return to be furnished for reporting details of all outward supplies of goods and services made.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 11th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            GSTR-3B
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR3B.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-3B is a monthly self-declaration to be filed, for furnishing summarized details of all outward supplies made, input tax credit claimed, tax liability ascertained and taxes paid.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 20th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            GSTR-4
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR4.png" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-4 is the annual return to be filed by the composition taxable persons under GST.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 30th April of the year following the relevant financial year
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            GSTR-5
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR5.png" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-5 is the return to be filed by non-resident foreign taxpayers, who are registered under GST and carry out business transactions in India.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 20th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            GSTR-5A
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR5A.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>For Online Information and Database Access or Retrieval Services (OIDAR) provider.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 20th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            GSTR-6
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR6.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>For an Input Service Distributor (ISD).</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 20th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            GSTR-7
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR7.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-7 is a monthly return to be filed by persons required to deduct TDS (Tax deducted at source) under GST.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 10th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            GSTR-8
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR8.jpg" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-8 is a monthly return to be filed by e-commerce operators registered under the GST who are required to collect tax at source (TCS).</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 10th* of every month
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed show" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            GSTR-9
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR9.png" class="d-block w-25 mb-3" alt="...">  
            <p>GSTR-9 is the annual return to be filed by taxpayers registered under GST.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : December of the year following the relevant financial year
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTen">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            GSTR-9C - GST Audit
        </button>
      </h2>
      <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <img src="../../../assets/Images/gstsub/GSTR9C.png" class="d-block w-25 mb-3" alt="...">  
            <p>GGSTR-9C is the reconciliation statement to be filed by all taxpayers registered under GST whose turnover exceeds Rs.2 crore in a financial year, as per the GST law (GST AUDIT)  by a Chartered Accountant/Cost & Management Accountant.</p>
            <div class="row">
                <div class="alert alert-danger col-md-3" role="alert">
                    Due Date : 31st December of the year following the relevant financial year
                </div>
                <div class="col-md-3 ms-5">
                    <a href="https://forms.gle/L7UmbRwdmeGWFrER8" target="_blank" class="btn btn-primary">Enroll <i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
