.btn
{
    border-color: var(--secondary-color);
    background-color: black;
    color: white;
}
.btn:hover
{
    color: white;
    background-color: var(--primary-color);
    border-color: black;
}
.accordion-body img
{
    border-radius: 5mm;
    height: 200px;
    border-style: solid;
}
.alert
{
    width: 50%;
}
.accordion h1
{
    font-style: oblique;
    font-size: large;
    text-align:left;
}
.back.btn:hover
{
    border-color: var(--secondary-color);
    background-color: red;
    color: white;
}